h1 {
    text-align: center;
    background-color: rgb(94, 71, 150);
    color:white; 
    width:100%;
    padding:15px;
  }
.bg-primary {
    background-color: purple;
    color: purple;
}
/* .searchBar {
    margin-bottom: 15px;
    color: blue;
    display: inline;
} */
button {
    background-color: blue;
}
.header {
    font-size: 50px;
    /* font-family: 'mulish'; */
    text-align: center;
}
.card {
    width: 100%;
}
h3{
    display: flex;
    justify-content: center;
    color: rgb(94, 71, 150);
}
h4{
    float: left;
}